body {
    margin: 0;
    padding: 0;
}

#register {
    width: 400px;
    margin: auto;
    background-color: aqua;
}

#login {
    width: 400px;
    margin: auto;
    background-color: bisque;
}

#partiesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#details {
    background-color: aqua;
}

#detailsContainer {
    background-color: bisque;
}

.detailsCard {
    background-color: rgb(142, 233, 162);
    display: flex;
    
}

.detailsCard img {
    width: 900px;
}